.header-area{
 background: #F0FFF0;
}
main{

}
.card-1{
 background: #F8FFFB;
 border:0;
}
.card-1:hover{
 box-shadow:0px 0px 10px gray;
 background: #FFF;

}
.footer1{
 border: 0;
 background:#F8FFFB;
}
.link-size{
 font-size:12px;
 color:gray;
}
.image-size{
 width:15%;

}
footer li a{
 text-decoration: none;
 color: white;
}
footer li a:hover{
 text-decoration: underline;
}
footer ul:first-child{
 list-style:none;
 color:white;
}